# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [2]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
dic

{'name': 'Prathamesh', 'age': 22, 'city': 'Pune'}

2. Create a dictionary and print the value of a specific key.

In [3]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
dic["name"]

'Prathamesh'

3. Make a dictionary and add a new key-value pair to it.

In [4]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
dic["phone_no"] = "1234567890"
dic

{'name': 'Prathamesh', 'age': 22, 'city': 'Pune', 'phone_no': '1234567890'}

4. Create a dictionary and change the value of an existing key.

In [6]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
dic["city"] = "Nanded"
dic

{'name': 'Prathamesh', 'age': 22, 'city': 'Nanded'}

5. Create a dictionary and remove one key using pop().

In [10]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
dic.pop('age')
dic

{'name': 'Prathamesh', 'city': 'Pune'}

6. Create a dictionary and remove the last inserted item using popitem().

In [9]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
dic.popitem()
dic

{'name': 'Prathamesh', 'age': 22}

7. Create a dictionary and print all the keys.

In [11]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
dic.keys()

dict_keys(['name', 'age', 'city'])

8. Create a dictionary and print all the values.

In [12]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
dic.values()

dict_values(['Prathamesh', 22, 'Pune'])

9. Create a dictionary and print all the key-value items.

In [13]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
dic

{'name': 'Prathamesh', 'age': 22, 'city': 'Pune'}

10. Make a dictionary and check the number of items using len().

In [14]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
len(dic)

3

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [18]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
x = "name" in dic
y = "Phone_no" in dic
x,y

(True, False)

12. Create an empty dictionary and add two key-value pairs one by one.

In [19]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
dic["email"] = "prathamesh@gmail.com"
dic["phone_no"] = "1234567890"
dic

{'name': 'Prathamesh',
 'age': 22,
 'city': 'Pune',
 'email': 'prathamesh@gmail.com',
 'phone_no': '1234567890'}

13. Create a dictionary and update one keyâ€™s value using update().

In [20]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
dic.update({'city':"Nanded"})
dic

{'name': 'Prathamesh', 'age': 22, 'city': 'Nanded'}

14. Create two dictionaries and combine them using update().

In [21]:
dic1 = {"name":"Prathamesh","age":22,"city":"Pune"}
dic2 = {"email":"prathamesh@gmail.com","phone_no":"1234567890"}
dic1.update(dic2)
dic1

{'name': 'Prathamesh',
 'age': 22,
 'city': 'Pune',
 'email': 'prathamesh@gmail.com',
 'phone_no': '1234567890'}

15. Make a dictionary and get the value of a key using get().

In [22]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
dic.get('age')

22

16. Create a dictionary and print its type using type().

In [26]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
type(dic)

dict

17. Create a dictionary and replace one value with a new one.

In [28]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
dic["name"] = "Gunjan"
dic

{'name': 'Gunjan', 'age': 22, 'city': 'Pune'}

18. Create a dictionary and clear all items using clear().

In [30]:
dic = {"name":"Prathamesh","age":22,"city":"Pune"}
dic.clear()
dic

{}

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [31]:
dic = {"1":"Prathamesh",2:"Sakshit",3:"Gunjan"}
dic

{'1': 'Prathamesh', 2: 'Sakshit', 3: 'Gunjan'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [32]:
dic1 = {"name":"Prathamesh","age":22,"city":"Pune"}
dic2 = dic1.copy()
dic2

{'name': 'Prathamesh', 'age': 22, 'city': 'Pune'}