# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [3]:
l = [1,2,3,4,5]
l.append(6)
l

[1, 2, 3, 4, 5, 6]

2. Make a list of fruits and insert a fruit at the second position.

In [7]:
l_fruit = ["apple","orange","banana","plum","dragon-fruit"]
l_fruit.insert(1,"blueberry")
l_fruit

['apple', 'blueberry', 'orange', 'banana', 'plum', 'dragon-fruit']

3. Create a list of names and remove one name from the list.

In [8]:
l_name = ["Sakshit","Prathamesh","Utkarsh","Gaurav","Tanisha"]
l_name.remove("Gaurav")
l_name

['Sakshit', 'Prathamesh', 'Utkarsh', 'Tanisha']

4. Create a list of 4 items and change the value at index 2.

In [10]:
l_items = ["Sakshit",69,[1,2,3,4,5],56.02]
l_items[1] = 88
l_items

['Sakshit', 88, [1, 2, 3, 4, 5], 56.02]

5. Make a list of numbers and print only the first three elements.

In [11]:
l_num = [1,2,3,4,5]
l_num[0:3]

[1, 2, 3]

6. Create a list of colors and find the index of a specific color.

In [12]:
l_color = ['red','blue','green','violet','magenta']
l_color.index('magenta')

4

7. Create a list of 10 numbers and print how many times “5” appears.

In [18]:
l_count = [1,2,5,3,4,5,6,5,7,5]
l_count.count(5)

4

8. Make a list of 6 items and delete the item at index 3.

In [21]:
l_items2 = ["Sakshit",69,[1,2,3,4,5],56.02,"Architecture","Keyboard"]
l_items2.pop(3)
l_items2

['Sakshit', 69, [1, 2, 3, 4, 5], 'Architecture', 'Keyboard']

9. Create a list of animals and add three more animals using extend().

In [23]:
l_animals1 = ["Kangaroo","Bear","Koala","Tiger"]
l_animals1.extend(["Lion","Cheetah","Dog"])
l_animals1

['Kangaroo', 'Bear', 'Koala', 'Tiger', 'Lion', 'Cheetah', 'Dog']

10. Create a list and remove the last item using pop().

In [24]:
l_items = ["Sakshit",69,[1,2,3,4,5],56.02]
l_items.pop()

56.02

11. Create a list of prices and sort them in ascending order.

In [28]:
l_items3 = [99.99,102.55,9999.99,5000,75000]
l_items3.sort()
l_items3

[99.99, 102.55, 5000, 9999.99, 75000]

12. Make a list of countries and reverse the order of the list.

In [30]:
l_countries = ["India","Russia","Pakistan","United States","Uzbekistan"]
l_countries.reverse()
l_countries

['Uzbekistan', 'United States', 'Pakistan', 'Russia', 'India']

13. Create a list of words and check if “apple” is in the list.

In [32]:
l_words1 = ["apple","Apple","APPle","appLE","applE"]
l_words2 = ["Sakshit",69,[1,2,3,4,5],56.02,"Architecture","Keyboard"]
l_words1.index("apple")
# l_words2.index("apple")

0

14. Create a list of numbers and print the largest and smallest number.

In [37]:
l_num = [1,84684,1236584,233,4868,56435,456456]
l_num.sort()
print(f"Largest Number: {l_num[-1]} \nSmallest Number: {l_num[0]}")

Largest Number: 1236584
Smallest Number: 1

15. Make a list of 5 items and print each item using a loop.

In [38]:
l_items4 = ["apple",1,[1,2,3],56.23,"Keyboard"]
for i in l_items4:
    print(i)

apple
1
[1, 2, 3]
56.23
Keyboard

16. Create two lists and combine them into one list.

In [41]:
l1 = ["Sakshit",69,[1,2,3,4,5],56.02,"Architecture","Keyboard"]
l2 = ["apple",1,[1,2,3],56.23,"Keyboard"]
print(l1 + l2)

['Sakshit', 69, [1, 2, 3, 4, 5], 56.02, 'Architecture', 'Keyboard', 'apple', 1, [1, 2, 3], 56.23, 'Keyboard']

17. Make a list and replace the last item with a new value.

In [44]:
l_replace = ["Sakshit",69,[1,2,3,4,5],56.02,"Architecture","Keyboard"]
l_replace[-1] = "Lenovo"
l_replace

['Sakshit', 69, [1, 2, 3, 4, 5], 56.02, 'Architecture', 'Lenovo']

18. Create a list of numbers and print only the even numbers.

In [ ]:
l_even = [1,2,3,4,5,6,7,8,9,10]
for i in l_even:
    if i%2==0:
        print(i)

2
4
6
8
10

19. Create a list and clear all items from the list.

In [46]:
l_clear = ["Sakshit",69,[1,2,3,4,5],56.02,"Architecture","Keyboard"]
l_clear.clear()
l_clear

[]

20. Create a list of 5 values and copy it into another list.

In [ ]:
l3 = ["Sakshit",69,[1,2,3,4,5],56.02,"Architecture","Keyboard"]
l_copy = l3.copy()
print("Copied List: ", l_copy)

Copied List:  ['Sakshit', 69, [1, 2, 3, 4, 5], 56.02, 'Architecture', 'Keyboard']