### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
dic = {"name": "Alice", "age": 30, "city": "New York"}
dic

{'name': 'Alice', 'age': 30, 'city': 'New York'}

### 2. Create a dictionary and print the value of a specific key.

In [2]:
dic = {"name": "Alice", "age": 30, "city": "New York"}
dic["age"]

30

### 3. Create a list of 5 numbers and print the second element.

In [3]:
l1 = [1, 2, 3,4,5]
l1[1]

2

### 4. Add an element "banana" to an existing list.

In [4]:
l1 = [1, 2, 3,4,5]
l1.append("banana")
l1

[1, 2, 3, 4, 5, 'banana']

### 5. Insert "apple" at index 2 in a list.

In [5]:
l2 = [1, 2, 3, 4, 5, 'banana']
l2.insert(2, "apple")
l2

[1, 2, 'apple', 3, 4, 5, 'banana']

### 6. Remove the element 10 from a list.

In [7]:
l3 = [1, 2, 'apple', 3, 4, 5, 'banana',"marshall", "dixon", "newton"]
l3.pop(9)
l3

[1, 2, 'apple', 3, 4, 5, 'banana', 'marshall', 'dixon']

### 7. Create a tuple with 4 elements and print the last one.

In [11]:
tp = (4, 5, 6, 7)
tp[-1]

7

### 8. Convert a tuple into a list.

In [ ]:
tp = (1, 2, 3, 4, 5)
l1 = list(tp)   #Type Casting
l1

[1, 2, 3, 4, 5]

### 9. Find the length of a given tuple.

In [13]:
tp = (1, 2, 3, 4, 5)
len(tp)

5

### 10. Store 5 student names in a list and print them using a loop.

In [14]:
list = ["Prathamesh", "Dixit", "Sakshit", "Shubham", "Aniket"]
for i in list:
    print(i)

Prathamesh
Dixit
Sakshit
Shubham
Aniket

### 11. Create two lists and concatenate them.

In [16]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = l1 + l2
l3

[1, 2, 3, 4, 5, 6]

### 12. Reverse a list without using reverse().

In [17]:
l1 = [1, 2, 3]
l1[::-1]

[3, 2, 1]

### 13. Sort a list in descending order.

In [19]:
l1= [1,4566,3541,35454321,354,354354,12353545468489,468]
l1.sort()
l1[::-1]

[12353545468489, 35454321, 354354, 4566, 3541, 468, 354, 1]

### 14. Create a set with 5 numbers and add a new number.

In [20]:
s = {1,6456,36432,46416,44156}
s.add(9999)
s

{1, 6456, 9999, 36432, 44156, 46416}

### 15. Remove an element from a set using discard().

In [21]:
s1 = {1, 6456, 9999, 36432, 44156, 46416}
s1.discard(6456)
s1

{1, 9999, 36432, 44156, 46416}

### 16. Find the union of two sets.

In [22]:
s1 = {1, 6456, 9999, 36432, 44156, 46416}
s2 = {9999, 46416, 12345, 67890}
s3 = s1.union(s2)
s3

{1, 6456, 9999, 12345, 36432, 44156, 46416, 67890}

### 17. Find the intersection of two sets.

In [ ]:
s1 = {1, 6456, 9999, 36432, 44156, 46416}
s2 = {9999, 46416, 12345, 67890}
inter = s1.intersection(s2) # or s1 & s2
inter

{9999, 46416}

### 18. Check if a value exists in a set.

In [ ]:
s1 = {1, 6456, 9999, 36432, 44156, 46416}
if 6456 in s1:
    print("Yes")
else:
    print("No")

Yes
No

### 19. Create a set and clear all elements.

In [28]:
s1 = {1, 6456, 9999, 36432, 44156, 46416}
s1.clear()
s1

set()

### 20. Convert a list with duplicate values into a set.

In [29]:
l1 = [1, 2, 3,4,5,6,7,8,9,4,56,12,3,5,22,5,55,34]
set_l1 = set(l1)
set_l1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 22, 34, 55, 56}

### 21. Create a dictionary and update the value of a key.

In [30]:
dic = {"name": "Alice", "age": 30, "city": "New York"}
dic["name"] = "Bob"
dic

{'name': 'Bob', 'age': 30, 'city': 'New York'}

### 22. Delete a key-value pair from a dictionary.

In [31]:
dic = {"name": "Alice", "age": 30, "city": "New York"}
dic.pop("age")
dic

{'name': 'Alice', 'city': 'New York'}

### 23. Print all keys of a dictionary.

In [32]:
dic = {"name": "Alice", "age": 30, "city": "New York"}
dic.keys()

dict_keys(['name', 'age', 'city'])

### 24. Print all values of a dictionary.

In [34]:
dic = {"name": "Alice", "age": 30, "city": "New York"}
dic.values()

dict_values(['Alice', 30, 'New York'])

### 25. Loop through a dictionary and print key and value.

In [39]:
dic = {"name": "Alice", "age": 30, "city": "New York"}
for i in dic:   
    print(i +"\t", dic[i])

name	 Alice
age	 30
city	 New York

### 26. Create a list of numbers and print only even numbers.

In [42]:
l = [1, 2, 3,4,5,6,7,8,9,4,56,12,3,5,22,5,55,34]
even = []
for i in l:
    if i % 2 == 0:
        even.append(i)
even

[2, 4, 6, 8, 4, 56, 12, 22, 34]

### 27. Create a tuple and unpack it into 3 variables.

In [46]:
tp = (4, "Prathamesh","Nanded")
age, name, city = tp    
age, name, city

(4, 'Prathamesh', 'Nanded')

### 28. Check if a number is greater than 10 using a comparison operator.

In [47]:
n = 11
n >10

True

### 29. Use the in operator to check if "python" exists in a list.

In [48]:
l = [1, 2, 3,4,5,6,7,8,9,4,56,12,3,5,22,5,55,34,"python"]
"python" in l

True

### 30. Use the and operator in a condition.

In [53]:
age = 120
citizen = "Indian"
if (age == 18 and citizen == "Indian"):
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Not eligible to vote

### 31. Use the % operator to check if a number is divisible by 5.

In [ ]:
n = 56468476847354678
n % 5 == 0

False

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [56]:
2**5

32

### 33. Create two numbers and compare them using >=.

In [57]:
n1 = 56446545
n2 = 564764
n1>= n2

True

### 34. Create a list and remove the last element using pop().

In [60]:
l = [1, 2, 3,4,5]
l.pop()

5

### 35. Create a list and print its first and last elements.

In [61]:
l = [1, 2, 3,4,5]
l[0],l[-1]

(1, 5)

### 36. Count how many times "apple" appears in a list.

In [67]:
l = ["Apple","Orange", "Banana", "Grapes","Lion","apple","aPPle","APple"]
i = 0
if "apple" in l:
    i+=1
i

1

### 37. Create a tuple and check if a value exists using in.

In [68]:
tp = (4, 5, 6, 7)
"apple" in tp

False

### 38. Convert a dictionaryâ€™s keys into a list.

In [78]:
dic = {"name": "Alice", "age": 30, "city": "New York"}
l = []
for i in dic:
    l.append(i)
l

['name', 'age', 'city']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [82]:
dic ={"p1":{"name": "Tanvi", "marks": 22, "subject": "Mathematics"},
      "p2":{"name": "Prathamesh", "marks": 96, "city": "Social Scince"}}
dic

{'p1': {'name': 'Tanvi', 'marks': 22, 'subject': 'Mathematics'},
 'p2': {'name': 'Prathamesh', 'marks': 96, 'city': 'Social Scince'}}

### 40. Merge two dictionaries into one.

In [89]:
dic1 = {"name": "Alice", "age": 30}
dic2 = {"city": "New York", "profession": "Engineer"}
dic1 | dic2

{'name': 'Alice', 'age': 30, 'city': 'New York', 'profession': 'Engineer'}

### 41. Create a set and print the number of elements.

In [90]:
s = {1,6456,36432,46416,44156}
len(s)

5

### 42. Create a dictionary and print all items using items().

In [91]:
dic = {"name": "Alice", "age": 30, "city": "New York"}
dic.items()

dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [94]:
l =[1,2,3,4,5,6,7,8,9,10]
sqr_l = []
for i in l:
    sqr_l.append(i**2)
print("Squared List:",sqr_l)

Squared List: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 44. Multiply two numbers and print the result using *.

In [96]:
n1 = 84476465
n2 = 546546546546546
n1 * n2

46170320210210164039890

### 45. Divide two numbers and print the results using / and //.

In [98]:
n1 = 645564654
n2 = 476546456
n1/n2, n1//n2

(1.3546730772455897, 1)

### 46. Create a list and replace the element at index 1.

In [100]:
l = [1, 2, 3,4,5,6,7,8,9,4,56,12,3,5,22,5,55,34]
l[1] = 564564654
l

[1, 564564654, 3, 4, 5, 6, 7, 8, 9, 4, 56, 12, 3, 5, 22, 5, 55, 34]

### 47. Create a tuple from user input (3 values).

In [2]:
l = []
x = int(input("Enter the length of tuple: "))
for i in range(x):
    ele = input("Enter element:")
    l.append(ele)
tuple(l)

('1', '2')

### 48. Create a set from a string and print all unique characters.

In [105]:
st = "I am a student of music"
l=[]
for i in st:
    l.append(i)
set(l)

{' ', 'I', 'a', 'c', 'd', 'e', 'f', 'i', 'm', 'n', 'o', 's', 't', 'u'}

### 49. Use the is operator to compare two variables.

In [ ]:
n1 = 23
n2 = 4
n1 is n2

True

### 50. Create a dictionary and check if a key exists using in.

In [108]:
dic = {"name": "Alice", "age": 30, "city": "New York"}
"name" in dic

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [113]:
n = 25
10<= n <= 50

True

### 52. Check if a number is less than 5 or greater than 20 using or.

In [ ]:
n = 15
n<5 or n>20

False

### 53. Use not to check if a list is not empty.

In [116]:
l = [1, 2, 3,4,5,6,7,8,9,4,56,12,3,5,22,5,55,34]
not l

False

### 54. Write code to check if a character is a vowel using or.

In [121]:
char = "e"
char in "a" or char in "e" or char in "i" or char in "o" or char in "u" or char in "A" or char in "E" or char in "I" or char in "O" or char in "U"

True

### 55. Check if a dictionary has both keys "name" and "age".

In [122]:
dic = {"name": "Alice", "age": 30, "city": "New York"}
"name" in dic and "age" in dic

True

### 56. Verify if a set contains either 10 or 20.

In [124]:
s = {1,6456,36432,46416,44156}
10 in s or 20 in s

False

### 57. Use not to check if a number is not equal to 100.

In [128]:
n = 54354
100 != n

True

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [131]:
marks = 85
attendance = 0
if marks >= 75 and attendance >= 80:
    print("Passed")
else:
    print("Failed")

Failed

### 59. Use logical operators to check if a number is positive and even.

In [135]:
n = 10
n > 0 and n%2==0

True

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [3]:
tp = (4, 5, 6, 7)
len(tp) > 3 or 0 in tp

True