# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [3]:
# Write your answer here
l = [[1,2,3], [4,5], [6,7,8,9]]
for i in l:
     j = i
     for k in j:
          print(k)

1
2
3
4
5
6
7
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [4]:
# Write your answer here
l = [[10,20], [30], [5, 7, 8]]
s = 0
for i in l:
    j = i
    for k in j:
        s += k
s

80

## **3. Count how many even numbers are present in a nested list.**

In [6]:
# Write your answer here
l = [[10,20], [30], [5, 7, 8]]
c = 0
for i in l:
    j = i
    for k in j:
        if k%2==0:
            c += 1
c

4

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [7]:
# Write your answer here
l = [['hello', 'world'], ['python']]
for i in l:
    j = i
    for k in j:
        print(k.upper())

HELLO
WORLD
PYTHON

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [10]:
# Write your answer here
l = [[80, 90, 85], [75, 70, 65], [88, 92, 79]]
n = 0
for i in l:
    j = i
    s = 0
    for k in j:
        s += k
    n += 1
    print(f"Student {n} Marks: {s}")

Student 1 Marks: 255
Student 2 Marks: 210
Student 3 Marks: 259

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [11]:
# Write your answer here
l1 = [[80, 90, 85], [75, 70, 65], [88, 92, 79],[1,23,54,69,12]]
l2 = []
for i in l:
    i = j
    for k in j:
        if k>50:
            l2.append(k)
l2

[88, 92, 79, 88, 92, 79, 88, 92, 79]

## **7. Find the largest number inside a nested list.**

In [12]:
# Write your answer here
l = [[80, 90, 85], [75, 70, 65], [88, 92, 79],[1,23,54,69,12]]
largest_number = 0
for i in l:
    j = i
    for k in j:
        if k>largest_number:
            largest_number = k
print("Largest Number:", largest_number)

Largest Number: 92

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [13]:
# Write your answer here
l1 = [[80, 90, 85], [75, 70, 65], [88, 92, 79],[1,23,54,69,12]]
l2 = []
for i in l1:
    j = i
    for k in j:
        l2.append(k)
l2

[80, 90, 85, 75, 70, 65, 88, 92, 79, 1, 23, 54, 69, 12]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [85]:
# Write your answer here
l = [[-80, 90, 85], [75, -70, 65], [88, -92, 79],[1,-23,54,-69,12]]
for i in range(len(l)):
    for n in range(len(l[i])):
        if l[i][n]<0:
            l[i][n]=0
l

[[0, 90, 85], [75, 0, 65], [88, 0, 79], [1, 0, 54, 0, 12]]

## **10. Count how many inner lists exist inside a nested list.**

In [22]:
# Write your answer here
l = [[80, 90, 85], [75, 70, 65], [88, 92, 79],[1,23,54,69,12]]
print("Nested Lists: ",len(l))

Nested Lists:  4

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [52]:
# Write your answer here
d = {
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}

for i,k in d.items():
    print(f"{i}", k["age"])

A 15
B 16

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [40]:
# Write your answer here
d = {
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
l = []
for i,k in d.items():
    k["grade"] += 5
d

{'A': {'age': 15, 'grade': 15}, 'B': {'age': 16, 'grade': 16}}

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [54]:
# Write your answer here
d = {"A":{'age': 15, 'grade': 10},"B":{'age': 16, 'grade': 11}}
for i,k in d.items():
    print(k.keys())
    break

dict_keys(['age', 'grade'])

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [55]:
# Write your answer here
d = {
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
c = 0
for i, k in d.items():
    if k["math"]>80:
        c += 1
print("Number of students: ",c)

Number of students:  1

## **15. Create a new dictionary of students whose age is above 15.**

In [57]:
# Write your answer here
d = {"A":{'age': 21, 'grade': 10},"B":{'age': 16, 'grade': 11},"C":{"age":56,"grade":23}}
d

{'A': {'age': 21, 'grade': 10},
 'B': {'age': 16, 'grade': 11},
 'C': {'age': 56, 'grade': 23}}

## **16. Find which student scored highest in science.**

In [61]:
# Write your answer here
d = {
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
highest_science = 0
student = ""
for i, k in d.items():
    if k["science"]>highest_science:
        highest_science= k["science"]
        student = i
print(f"Highest Marks in Science was scored by {student} : {highest_science}")

Highest Marks in Science was scored by A : 90

## **17. Print employees who belong to the HR department from this dictionary.**

In [64]:
# Write your answer here
emp = {"ep1":{"name":"Sarita","Department":"Logistics"},"ep2":{"name":"Lokesh","Department":"HR"},"ep3":{"name":"Prathamesh","Department":"HR"}}
for i,k in emp.items():
    if k["Department"] == "HR":
        print(k["name"])

Lokesh
Prathamesh

## **18. Delete all entries where the status is 'inactive'.**

In [68]:
# Write your answer here
emp = {"ep1":{"name":"Sarita","Department":"Logistics","status":"inactive"},"ep2":{"name":"Lokesh","Department":"HR","status":"inactive"},"ep3":{"name":"Prathamesh","Department":"HR","status":"Active"}}
l = []
for i,k in emp.items():
    if k["status"] == "inactive":
        l.append(i)
for i in l:
    emp.pop(i)
emp

{'ep3': {'name': 'Prathamesh', 'Department': 'HR', 'status': 'Active'}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [76]:
# Write your answer here
stock_data = {
    "warehouse_A": {
        "price": 0.8, "quantity": 200
    },
    "warehouse_B": {
        "price": 2.5, "quantity": 100
    },
    "warehouse_C": {
        "price": 3.0, "quantity": 50
    }
}

s = 0
for i,k in stock_data.items():
    s += k["quantity"]
print("Total Stock:",s)

Total Stock: 350

## **20. Convert all inner dictionary keys to uppercase.**

In [83]:
# Write your answer here
stock_data = {
    "warehouse_A": {
        "price": 0.8, "quantity": 200
    },
    "warehouse_B": {
        "price": 2.5, "quantity": 100
    },
    "warehouse_C": {
        "price": 3.0, "quantity": 50
    }
}

for i,k in stock_data.items():
    for j,l in k.items():
        print(j.upper())
    break

PRICE
QUANTITY