### What is a function in Python?

In [ ]:
# Block of Code written for reusability and ease of use for developer.

### Write the correct syntax of a Python function.

In [ ]:
def sample(parameters):
    # Operations
    return Value

# Function Call
sample(parameters)

### What is the default return value of a function if no return statement is used?

In [ ]:
# None

### Define a function named hello() that prints "Hello World".

In [1]:
def prnt_hello():
    return "Hello World"

prnt_hello()

'Hello World'

### What is the difference between a parameter and an argument? Write a function with two parameters a and b that returns their sum.

In [ ]:
# Parameter vs Argument
# Parameter: The variable defined in the function definition that serves as a placeholder for the values the function will receive.
# Argument: The actual value that is passed to the function when it is called.

a = int(input("Enter value for a: "))
b = int(input("Enter value for b: "))
def sum1(a,b):
    return a + b
sum1(a,b)

11

### What are positional arguments? Give an example.

In [ ]:
# argument where the function assigns the arguments to parameters based on their order during the function call.

### What are keyword arguments? Give an example.

In [ ]:
# In keyword arguments, declare and assign variable value in function call parenthesis itself.

# Example
def sm2(a,b):
    return a + b

sm2(a=2,b=3)

5

### What are default parameters? Write a function with a default parameter country="India" that prints "I live in <country>".

In [6]:
# In keyword arguments, declare and assign variable value in function defination parenthesis itself.
def country(country="India"):
    return "I live in " + country

country()

'I live in India'

### Write a function square(n) that returns the square of a number.

In [7]:
n = int(input("Enter number to be squared: "))
def sqrn(n):
    return n**2

sqrn(n)

25

### What does *args mean in Python? Write a function that accepts any number of values using *args and prints them.

In [8]:
# Special syntax used in a function definition to allow the function to accept a variable number of non-keyword (positional) arguments.
def pnt(*numbers):
    for i in numbers:
        print(i)
pnt(44,4,46,46,4,46,41,31,13,1)

44
4
46
46
4
46
41
31
13
1

### What does **kwargs mean? Write a function that prints all keyword arguments using **kwargs.

In [1]:
# Special syntax used in a function definition to allow the function to accept a variable number of keyword arguments.

def prr(**kwargs):
    for i in kwargs:
        print(i)
prr(x=10,y=40)

x
y

### Write a function that returns two values: the sum and product of two numbers. Can a Python function return multiple values? How?

In [9]:
def sum_print(a=3,b=32):    
    return a*b, a+b

sum_print()

(96, 35)

### Write a function even_or_odd(n) that returns "Even" or "Odd".

In [10]:
def even_odd(n):
    if n%2==0:
        print("Even Number")
    else:
        print("Odd")

even_odd(65)

Odd

### Write an adapter function that takes a list of operations and executes add, sub, mul, div based on input. 

### Example: [ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ]

In [15]:
l = [{"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5}, {"op":"sub","a": 65,"b": 59}, {"op":"div","a":59,"b":12}]
j = 1
def opertionss(l,j):
    for i in l:
        if i["op"]=="add":
            print(j, " : ", i["a"]+i["b"])
            j+=1
        if i["op"]=="sub":
            print(j, " : ", i["a"]-i["b"])
            j+=1
        if i["op"]=="mul":
            print(j, " : ", i["a"]*i["b"])
            j+=1
        if i["op"]=="div":
            print(j, " : ", i["a"]/i["b"])
            j+=1
opertionss(l,j)

1  :  30
2  :  20
3  :  6
4  :  4.916666666666667

### Write a function process_students(data) that prints total marks and grade for each student.
- Example: [ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] 
- Expected Output: Name: A | Total: 240 | Grade: A Name: B | Total: 200 | Grade: B

In [21]:
l1 = [{"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[23,74,60]},{"name":"C", "marks":[88,99,77]}, {"name":"D", "marks":[69,77,66]},{"name":"E", "marks":[12,89,98]}, {"name":"F", "marks":[74,59,23]}] 
def process_students(l1):
    for i in l1:
        s = 0
        g = ""
        for j in i["marks"]:
            s += j
        if s>=270:
            g = "A"
        if s>=240 and s<270:
            g = "B"
        if s>=210 and s<240:
            g = "C"
        if s>=180 and s<210:
            g = "D"
        if s<180:
            g = "F"
        print("Name : ",i["name"]," | Total : ",s," | Grade : ",g)
process_students(l1)

Name :  A  | Total :  240  | Grade :  B
Name :  B  | Total :  157  | Grade :  F
Name :  C  | Total :  264  | Grade :  B
Name :  D  | Total :  212  | Grade :  C
Name :  E  | Total :  199  | Grade :  D
Name :  F  | Total :  156  | Grade :  F

### Create a function apply_discounts(products) that updates price after discount. 
- Example: [ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ] 
- Expected Output: Laptop final: 45000 Phone final: 19000

In [24]:
l2 = [{"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5}] 
def disc(l2):
    for i in l2:
        dp = i["price"] - ((i["price"]/100)*i["discount"])
        print(i["name"] + " final: ",dp) 
disc(l2)

Laptop final:  45000.0
Phone final:  19000.0

### Write a function generate_report(employees) that calculates bonus based on salary slabs. 
- Slabs: 
- salary > 50,000 → bonus = 15%, 
- salary 30,000–50,000 → bonus = 10%, 
- salary < 30,000 → bonus = 5%. 

#### Example employees = 
- [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [29]:
l3 = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
def bonus(l3):
    for i in l3:
        b = 0
        if i["salary"]>=50000:
            b = 15/100
        if i["salary"]>=30000 and i["salary"]<50000:
            b = 10/100
        if i["salary"]<30000:
            b = 5/100
        print("id : ",i["id"]," | Name : ",i["name"]," | Bonus : ",i["salary"]*b)

bonus(l3)

id :  101  | Name :  Amit  | Bonus :  8250.0
id :  102  | Name :  Neha  | Bonus :  4000.0
id :  103  | Name :  Raj  | Bonus :  9750.0
id :  104  | Name :  Simran  | Bonus :  9000.0
id :  105  | Name :  Vijay  | Bonus :  3500.0

### Write a function get_employee_names(emp_list) that returns a list of all employee names.

In [30]:
l3 = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
l_new = []
def get_employee_names(l3):
    for i in l3:
        l_new.append(i["name"])
    return l_new
get_employee_names(l3)

['Amit', 'Neha', 'Raj', 'Simran', 'Vijay']

### Write a function filter_by_department(emp_list, dept) that returns employees belonging to a specific department.

In [39]:
l3 = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
dept = input("Enter department to filter by: ")
l = [dept.capitalize()]
def filter_by_department(l3,dept):
    for i in l3:
            if i["department"].lower() == dept.lower():
                  l.append(i["name"])
filter_by_department(l3,dept)
l

['It', 'Amit', 'Simran']

### Write a function highest_salary(emp_list) that returns the employee with the highest salary.

In [41]:
l3 = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
def highest_salary(l3):
    hs = 0
    n = ""
    for i in l3:
        if i["salary"]>hs:
            hs = i["salary"]
            n = i["name"]
    print(f"{n} has the hishest salary in the comapny : {hs}.")
highest_salary(l3)

Raj has the hishest salary in the comapny : 65000.

### Write a function average_salary(emp_list) that returns the average salary.

In [43]:
l3 = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
def average_salary(l3):
    s = 0
    for i in l3:
        s += i['salary']
    return s/len(l3)
average_salary(l3)

51000.0

### Write a function salary_hike(emp_list, percent) that increases each salary by given percent.

In [44]:
l3 = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
def salary_hike(l3,hike=12):
    for i in l3:
        i["salary"] += (i["salary"]/100)*hike
    return l3
salary_hike(l3)

[{'id': 101, 'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 61600.0},
 {'id': 102, 'name': 'Neha', 'age': 24, 'department': 'HR', 'salary': 44800.0},
 {'id': 103,
  'name': 'Raj',
  'age': 31,
  'department': 'Finance',
  'salary': 72800.0},
 {'id': 104,
  'name': 'Simran',
  'age': 29,
  'department': 'IT',
  'salary': 67200.0},
 {'id': 105,
  'name': 'Vijay',
  'age': 35,
  'department': 'Admin',
  'salary': 39200.0}]

### Write out_of_stock(items) that returns all products with stock < 20.

In [47]:
l4 = [{"id": 501, "name": "Wireless Mouse", "category": "Electronics", "stock": 45, "price": 25.00},
    {"id": 502, "name": "Chair", "category": "Furniture", "stock": 9, "price": 99.00},
    {"id": 503, "name": "Glass", "category": "Hardware", "stock": 40, "price": 55.00},
    {"id": 504, "name": "Lakme Blush", "category": "Make-Up", "stock": 500, "price": 36.00}]

def out_of_stock(l4):
    for i in l4:
        if i["stock"]<20:
            print("id : ",i["id"]," | ",i["name"])

out_of_stock(l4)

id :  502  |  Chair

### Write total_inventory_value(items) → sum(price * stock).

In [51]:
l4 = [{"id": 501, "name": "Wireless Mouse", "category": "Electronics", "stock": 45, "price": 25.00},
    {"id": 502, "name": "Chair", "category": "Furniture", "stock": 9, "price": 99.00},
    {"id": 503, "name": "Glass", "category": "Hardware", "stock": 40, "price": 55.00},
    {"id": 504, "name": "Lakme Blush", "category": "Make-Up", "stock": 500, "price": 36.00}]

def total_inventory_value(l4):
    s = 0
    for i in l4:
        s += i["stock"]*i["price"]
    print(f"Total stock value is {s}")
total_inventory_value(l4)

Total stock value is 22216.0

### Write search_product(items, name) → return matching product(s).

In [63]:
l4 = [{"id": 501, "name": "Wireless Mouse", "category": "Electronics", "stock": 45, "price": 25.00},
    {"id": 502, "name": "Chair", "category": "Furniture", "stock": 9, "price": 99.00},
    {"id": 503, "name": "Glass", "category": "Hardware", "stock": 40, "price": 55.00},
    {"id": 504, "name": "Lakme Blush", "category": "Make-Up", "stock": 500, "price": 36.00}]

srch = input("Search : ")
def search_product(srch,l4):
    for i in l4:
        if srch.lower() == i["name"].lower() or srch.lower() == i["category"].lower():
            print(i["name"] +", Category : "+i["category"])

search_product(srch,l4)

Wireless Mouse, Category : Electronics