# Pandas Assignment: 50 Basic Questions

Dataset Columns: CID, TID, Gender, Age Group, Purchase Date, Product Category, Discount Availed, Discount Name, Discount Amount (INR), Gross Amount, Net Amount, Purchase Method, Location

### 1. Load the CSV file into a Pandas DataFrame.

In [310]:
import pandas as pd
df = pd.read_csv('C:/Users/Vader/Downloads/csv.csv')

### 2. Display the first 5 rows.

In [311]:
df.head()

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,1.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
1,2.0,1002,Female,18-25,10-02-2023,Clothing,Yes,Summer Sale,600,3000,2400,UPI,Pune
2,3.0,1003,Male,36-45,05-03-2023,Home Decor,No,NaN,0,4500,4500,Debit Card,Delhi
3,4.0,1004,Female,26-35,20-01-2023,Electronics,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai
4,5.0,1005,Male,18-25,12-04-2023,Books,No,NaN,0,800,800,Cash,Bangalore

### 3. Display the last 5 rows.

In [312]:
df.tail()

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
10,11.0,1010,Female,18-25,10-09-2023,Groceries,No,NaN,0,1200,1200,Cash,Pune
11,12.0,1011,Male,36-45,02-10-2023,Electronics,Yes,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai
12,13.0,1012,Female,26-35,14-11-2023,Clothing,Yes,""" Diwali """,1200,4000,2800,UPI,Bangalore
13,14.0,1013,Male,18-25,25-12-2023,Toys,Yes,Christmas,400,1500,1100,Cash,Chennai
14,NaN,1014,Female,46-55,05-01-2023,Home Decor,No,NaN,0,3500,3500,Debit Card,Pune

### 4. Print the shape of the DataFrame.

In [313]:
df.shape

(15, 13)

### 5. Show all column names.

In [314]:
df.columns

Index(['CID', 'TID', 'Gender', 'Age Group', 'Purchase Date',
       'Product Category', 'Discount Availed', 'Discount Name',
       'Discount Amount (INR)', 'Gross Amount', 'Net Amount',
       'Purchase Method', 'Location'],
      dtype='object')

### 6. Display the data types of each column.

In [315]:
df.dtypes

CID                      float64
TID                        int64
Gender                    object
Age Group                 object
Purchase Date             object
Product Category          object
Discount Availed          object
Discount Name             object
Discount Amount (INR)      int64
Gross Amount               int64
Net Amount                 int64
Purchase Method           object
Location                  object
dtype: object

### 7. Check for missing values in each column.

In [316]:
df.isnull().sum()

CID                      1
TID                      0
Gender                   0
Age Group                0
Purchase Date            0
Product Category         0
Discount Availed         0
Discount Name            5
Discount Amount (INR)    0
Gross Amount             0
Net Amount               0
Purchase Method          0
Location                 0
dtype: int64

### 8. Count total missing values in the dataset.

In [317]:
df.isnull().sum().sum()

6

### 9. Show summary statistics for numeric columns.

In [318]:
df.describe()

           CID          TID  Discount Amount (INR)  Gross Amount    Net Amount
count  14.0000    15.000000              15.000000     15.000000     15.000000
mean    7.5000  1007.066667             920.000000   9500.000000   8580.000000
std     4.1833     4.366539            1288.520747  15338.047929  14113.377646
min     1.0000  1001.000000               0.000000    800.000000    800.000000
25%     4.2500  1003.500000               0.000000   1750.000000   1600.000000
50%     7.5000  1007.000000             600.000000   4000.000000   3500.000000
75%    10.7500  1010.500000            1100.000000   9000.000000   7850.000000
max    14.0000  1014.000000            5000.000000  60000.000000  55000.000000

### 10. Display info about the DataFrame using .info().

In [319]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CID                    14 non-null     float64
 1   TID                    15 non-null     int64
 2   Gender                 15 non-null     object
 3   Age Group              15 non-null     object
 4   Purchase Date          15 non-null     object
 5   Product Category       15 non-null     object
 6   Discount Availed       15 non-null     object
 7   Discount Name          10 non-null     object
 8   Discount Amount (INR)  15 non-null     int64
 9   Gross Amount           15 non-null     int64
 10  Net Amount             15 non-null     int64
 11  Purchase Method        15 non-null     object
 12  Location               15 non-null     object
dtypes: float64(1), int64(4), object(8)
memory usage: 1.6+ KB

### 11. Select the CID and TID columns.

In [320]:
df[['CID','TID']]

     CID   TID
0    1.0  1001
1    2.0  1002
2    3.0  1003
3    4.0  1004
4    5.0  1005
5    6.0  1006
6    7.0  1007
7    8.0  1008
8    9.0  1009
9   10.0  1001
10  11.0  1010
11  12.0  1011
12  13.0  1012
13  14.0  1013
14   NaN  1014

### 12. Display the first 10 rows of Gender and Age Group.

In [321]:
df[['Age Group','Gender']].head(10)

  Age Group  Gender
0     26-35    Male
1     18-25  Female
2     36-45    Male
3     26-35  Female
4     18-25    Male
5     46-55  Female
6     26-35    Male
7     26-35  Female
8       55+    Male
9     26-35    Male

### 13. Filter rows where Gender is 'Male'.

In [322]:
df[df['Gender']=='M']

Empty DataFrame
Columns: [CID, TID, Gender, Age Group, Purchase Date, Product Category, Discount Availed, Discount Name, Discount Amount (INR), Gross Amount, Net Amount, Purchase Method, Location]
Index: []

### 14. Filter rows where Age Group is '26-35'.

In [323]:
df[df['Age Group'] == '26-35']

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,1.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
3,4.0,1004,Female,26-35,20-01-2023,Electronics,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai
6,7.0,1007,Male,26-35,15-06-2023,Clothing,Yes,Flat 50,300,2000,1700,UPI,Chennai
7,8.0,1008,Female,26-35,08-07-2023,Beauty,No,NaN,0,1500,1500,Credit Card,Mumbai
9,10.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
12,13.0,1012,Female,26-35,14-11-2023,Clothing,Yes,""" Diwali """,1200,4000,2800,UPI,Bangalore

### 15. Filter rows where Discount Availed is 'Yes'.

In [324]:
df[df['Discount Availed'] == 'Yes']

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,1.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
1,2.0,1002,Female,18-25,10-02-2023,Clothing,Yes,Summer Sale,600,3000,2400,UPI,Pune
3,4.0,1004,Female,26-35,20-01-2023,Electronics,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai
5,6.0,1006,Female,46-55,30-05-2023,Electronics,Yes,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai
6,7.0,1007,Male,26-35,15-06-2023,Clothing,Yes,Flat 50,300,2000,1700,UPI,Chennai
8,9.0,1009,Male,55+,22-08-2023,Electronics,Yes,Freedom Sale,5000,60000,55000,Net Banking,Delhi
9,10.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
11,12.0,1011,Male,36-45,02-10-2023,Electronics,Yes,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai
12,13.0,1012,Female,26-35,14-11-2023,Clothing,Yes,""" Diwali """,1200,4000,2800,UPI,Bangalore
13,14.0,1013,Male,18-25,25-12-2023,Toys,Yes,Christmas,400,1500,1100,Cash,Chennai

### 16. Filter rows where Discount Amount (INR) > 500.

In [325]:
df[df['Discount Amount (INR)']>500]

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,1.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
1,2.0,1002,Female,18-25,10-02-2023,Clothing,Yes,Summer Sale,600,3000,2400,UPI,Pune
3,4.0,1004,Female,26-35,20-01-2023,Electronics,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai
5,6.0,1006,Female,46-55,30-05-2023,Electronics,Yes,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai
8,9.0,1009,Male,55+,22-08-2023,Electronics,Yes,Freedom Sale,5000,60000,55000,Net Banking,Delhi
9,10.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
11,12.0,1011,Male,36-45,02-10-2023,Electronics,Yes,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai
12,13.0,1012,Female,26-35,14-11-2023,Clothing,Yes,""" Diwali """,1200,4000,2800,UPI,Bangalore

### 17. Filter rows where Product Category is 'Electronics'.

In [326]:
df[df['Product Category'] == 'Electronics']

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,1.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
3,4.0,1004,Female,26-35,20-01-2023,Electronics,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai
5,6.0,1006,Female,46-55,30-05-2023,Electronics,Yes,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai
8,9.0,1009,Male,55+,22-08-2023,Electronics,Yes,Freedom Sale,5000,60000,55000,Net Banking,Delhi
9,10.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
11,12.0,1011,Male,36-45,02-10-2023,Electronics,Yes,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai

### 18. Display rows where Purchase Method is 'Credit Card'.

In [327]:
df[df['Purchase Method'] == 'Credit Card']

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,1.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
3,4.0,1004,Female,26-35,20-01-2023,Electronics,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai
5,6.0,1006,Female,46-55,30-05-2023,Electronics,Yes,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai
7,8.0,1008,Female,26-35,08-07-2023,Beauty,No,NaN,0,1500,1500,Credit Card,Mumbai
9,10.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
11,12.0,1011,Male,36-45,02-10-2023,Electronics,Yes,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai

### 19. Select rows where Location is 'Mumbai'.

In [328]:
df[df['Location'] == 'Mumbai']

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,1.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
3,4.0,1004,Female,26-35,20-01-2023,Electronics,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai
5,6.0,1006,Female,46-55,30-05-2023,Electronics,Yes,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai
7,8.0,1008,Female,26-35,08-07-2023,Beauty,No,NaN,0,1500,1500,Credit Card,Mumbai
9,10.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
11,12.0,1011,Male,36-45,02-10-2023,Electronics,Yes,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai

### 20. Select rows where Gross Amount is between 1000 and 5000.

In [329]:
df[(df['Gross Amount'] > 1000) & (df['Gross Amount'] < 5000)]

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
1,2.0,1002,Female,18-25,10-02-2023,Clothing,Yes,Summer Sale,600,3000,2400,UPI,Pune
2,3.0,1003,Male,36-45,05-03-2023,Home Decor,No,NaN,0,4500,4500,Debit Card,Delhi
6,7.0,1007,Male,26-35,15-06-2023,Clothing,Yes,Flat 50,300,2000,1700,UPI,Chennai
7,8.0,1008,Female,26-35,08-07-2023,Beauty,No,NaN,0,1500,1500,Credit Card,Mumbai
10,11.0,1010,Female,18-25,10-09-2023,Groceries,No,NaN,0,1200,1200,Cash,Pune
12,13.0,1012,Female,26-35,14-11-2023,Clothing,Yes,""" Diwali """,1200,4000,2800,UPI,Bangalore
13,14.0,1013,Male,18-25,25-12-2023,Toys,Yes,Christmas,400,1500,1100,Cash,Chennai
14,NaN,1014,Female,46-55,05-01-2023,Home Decor,No,NaN,0,3500,3500,Debit Card,Pune

### 21. Sort the DataFrame by Gross Amount ascending.

In [330]:
df.sort_values(by='Gross Amount', ascending=True)

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
4,5.0,1005,Male,18-25,12-04-2023,Books,No,NaN,0,800,800,Cash,Bangalore
10,11.0,1010,Female,18-25,10-09-2023,Groceries,No,NaN,0,1200,1200,Cash,Pune
7,8.0,1008,Female,26-35,08-07-2023,Beauty,No,NaN,0,1500,1500,Credit Card,Mumbai
13,14.0,1013,Male,18-25,25-12-2023,Toys,Yes,Christmas,400,1500,1100,Cash,Chennai
6,7.0,1007,Male,26-35,15-06-2023,Clothing,Yes,Flat 50,300,2000,1700,UPI,Chennai
1,2.0,1002,Female,18-25,10-02-2023,Clothing,Yes,Summer Sale,600,3000,2400,UPI,Pune
14,NaN,1014,Female,46-55,05-01-2023,Home Decor,No,NaN,0,3500,3500,Debit Card,Pune
12,13.0,1012,Female,26-35,14-11-2023,Clothing,Yes,""" Diwali """,1200,4000,2800,UPI,Bangalore
2,3.0,1003,Male,36-45,05-03-2023,Home Decor,No,NaN,0,4500,4500,Debit Card,Delhi
11,12.0,1011,Male,36-45,02-10-2023,Electronics,Yes,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai
5,6.0,1006,Female,46-55,30-05-2023,Electronics,Yes,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai
0,1.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
9,10.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
3,4.0,1004,Female,26-35,20-01-2023,Electronics,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai
8,9.0,1009,Male,55+,22-08-2023,Electronics,Yes,Freedom Sale,5000,60000,55000,Net Banking,Delhi

### 22. Sort the DataFrame by Net Amount descending.

In [331]:
df.sort_values(by='Net Amount', ascending=False)

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
8,9.0,1009,Male,55+,22-08-2023,Electronics,Yes,Freedom Sale,5000,60000,55000,Net Banking,Delhi
3,4.0,1004,Female,26-35,20-01-2023,Electronics,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai
0,1.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
9,10.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
11,12.0,1011,Male,36-45,02-10-2023,Electronics,Yes,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai
2,3.0,1003,Male,36-45,05-03-2023,Home Decor,No,NaN,0,4500,4500,Debit Card,Delhi
5,6.0,1006,Female,46-55,30-05-2023,Electronics,Yes,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai
14,NaN,1014,Female,46-55,05-01-2023,Home Decor,No,NaN,0,3500,3500,Debit Card,Pune
12,13.0,1012,Female,26-35,14-11-2023,Clothing,Yes,""" Diwali """,1200,4000,2800,UPI,Bangalore
1,2.0,1002,Female,18-25,10-02-2023,Clothing,Yes,Summer Sale,600,3000,2400,UPI,Pune
6,7.0,1007,Male,26-35,15-06-2023,Clothing,Yes,Flat 50,300,2000,1700,UPI,Chennai
7,8.0,1008,Female,26-35,08-07-2023,Beauty,No,NaN,0,1500,1500,Credit Card,Mumbai
10,11.0,1010,Female,18-25,10-09-2023,Groceries,No,NaN,0,1200,1200,Cash,Pune
13,14.0,1013,Male,18-25,25-12-2023,Toys,Yes,Christmas,400,1500,1100,Cash,Chennai
4,5.0,1005,Male,18-25,12-04-2023,Books,No,NaN,0,800,800,Cash,Bangalore

### 23. Sort by Location and then by Purchase Date.

In [332]:
df.sort_values(by=['Location','Purchase Date'])

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
4,5.0,1005,Male,18-25,12-04-2023,Books,No,NaN,0,800,800,Cash,Bangalore
12,13.0,1012,Female,26-35,14-11-2023,Clothing,Yes,""" Diwali """,1200,4000,2800,UPI,Bangalore
6,7.0,1007,Male,26-35,15-06-2023,Clothing,Yes,Flat 50,300,2000,1700,UPI,Chennai
13,14.0,1013,Male,18-25,25-12-2023,Toys,Yes,Christmas,400,1500,1100,Cash,Chennai
2,3.0,1003,Male,36-45,05-03-2023,Home Decor,No,NaN,0,4500,4500,Debit Card,Delhi
8,9.0,1009,Male,55+,22-08-2023,Electronics,Yes,Freedom Sale,5000,60000,55000,Net Banking,Delhi
11,12.0,1011,Male,36-45,02-10-2023,Electronics,Yes,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai
7,8.0,1008,Female,26-35,08-07-2023,Beauty,No,NaN,0,1500,1500,Credit Card,Mumbai
0,1.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
9,10.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai
3,4.0,1004,Female,26-35,20-01-2023,Electronics,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai
5,6.0,1006,Female,46-55,30-05-2023,Electronics,Yes,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai
14,NaN,1014,Female,46-55,05-01-2023,Home Decor,No,NaN,0,3500,3500,Debit Card,Pune
1,2.0,1002,Female,18-25,10-02-2023,Clothing,Yes,Summer Sale,600,3000,2400,UPI,Pune
10,11.0,1010,Female,18-25,10-09-2023,Groceries,No,NaN,0,1200,1200,Cash,Pune

### 24. Find the number of unique locations.

In [333]:
df['Location'].nunique()

5

### 25. Display all unique locations.

In [334]:
df['Location'].unique()

array(['Mumbai', 'Pune', 'Delhi', 'Bangalore', 'Chennai'], dtype=object)

### 26. Find the number of unique product categories.

In [335]:
df['Product Category'].nunique()

7

### 27. Display the top 10 most frequent product categories.

In [336]:
df['Product Category'].value_counts().head(10)

Product Category
Electronics    6
Clothing       3
Home Decor     2
Books          1
Beauty         1
Groceries      1
Toys           1
Name: count, dtype: int64

### 28. Display the top 10 most frequent locations.

In [337]:
df['Location'].value_counts().head(10)

Location
Mumbai       6
Pune         3
Delhi        2
Bangalore    2
Chennai      2
Name: count, dtype: int64

### 29. Find the transaction with the highest Gross Amount.

In [338]:
df[df['Gross Amount'] == df['Gross Amount'].max()]

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
8,9.0,1009,Male,55+,22-08-2023,Electronics,Yes,Freedom Sale,5000,60000,55000,Net Banking,Delhi

### 30. Find the transaction with the highest Discount Amount (INR).

In [339]:
df[df['Discount Amount (INR)'] == df['Discount Amount (INR)'].max()]

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
8,9.0,1009,Male,55+,22-08-2023,Electronics,Yes,Freedom Sale,5000,60000,55000,Net Banking,Delhi

### 31. Create a new column Discount Percentage = (Discount Amount / Gross Amount) * 100.

In [340]:
df['Discount Percentage'] = (df['Discount Amount (INR)'] / df['Gross Amount']) * 100
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Discount Percentage
0,1.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.333333
1,2.0,1002,Female,18-25,10-02-2023,Clothing,Yes,Summer Sale,600,3000,2400,UPI,Pune,20.000000
2,3.0,1003,Male,36-45,05-03-2023,Home Decor,No,NaN,0,4500,4500,Debit Card,Delhi,0.000000
3,4.0,1004,Female,26-35,20-01-2023,Electronics,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai,8.000000
4,5.0,1005,Male,18-25,12-04-2023,Books,No,NaN,0,800,800,Cash,Bangalore,0.000000
5,6.0,1006,Female,46-55,30-05-2023,Electronics,Yes,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai,25.000000
6,7.0,1007,Male,26-35,15-06-2023,Clothing,Yes,Flat 50,300,2000,1700,UPI,Chennai,15.000000
7,8.0,1008,Female,26-35,08-07-2023,Beauty,No,NaN,0,1500,1500,Credit Card,Mumbai,0.000000
8,9.0,1009,Male,55+,22-08-2023,Electronics,Yes,Freedom Sale,5000,60000,55000,Net Banking,Delhi,8.333333
9,10.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.333333
10,11.0,1010,Female,18-25,10-09-2023,Groceries,No,NaN,0,1200,1200,Cash,Pune,0.000000
11,12.0,1011,Male,36-45,02-10-2023,Electronics,Yes,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai,14.545455
12,13.0,1012,Female,26-35,14-11-2023,Clothing,Yes,""" Diwali """,1200,4000,2800,UPI,Bangalore,30.000000
13,14.0,1013,Male,18-25,25-12-2023,Toys,Yes,Christmas,400,1500,1100,Cash,Chennai,26.666667
14,NaN,1014,Female,46-55,05-01-2023,Home Decor,No,NaN,0,3500,3500,Debit Card,Pune,0.000000

### 32. Round Discount Percentage to 2 decimal places.

In [341]:
df['Discount Percentage'] = df['Discount Percentage'].round(2)
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Discount Percentage
0,1.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
1,2.0,1002,Female,18-25,10-02-2023,Clothing,Yes,Summer Sale,600,3000,2400,UPI,Pune,20.00
2,3.0,1003,Male,36-45,05-03-2023,Home Decor,No,NaN,0,4500,4500,Debit Card,Delhi,0.00
3,4.0,1004,Female,26-35,20-01-2023,Electronics,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai,8.00
4,5.0,1005,Male,18-25,12-04-2023,Books,No,NaN,0,800,800,Cash,Bangalore,0.00
5,6.0,1006,Female,46-55,30-05-2023,Electronics,Yes,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai,25.00
6,7.0,1007,Male,26-35,15-06-2023,Clothing,Yes,Flat 50,300,2000,1700,UPI,Chennai,15.00
7,8.0,1008,Female,26-35,08-07-2023,Beauty,No,NaN,0,1500,1500,Credit Card,Mumbai,0.00
8,9.0,1009,Male,55+,22-08-2023,Electronics,Yes,Freedom Sale,5000,60000,55000,Net Banking,Delhi,8.33
9,10.0,1001,Male,26-35,15-01-2023,Electronics,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
10,11.0,1010,Female,18-25,10-09-2023,Groceries,No,NaN,0,1200,1200,Cash,Pune,0.00
11,12.0,1011,Male,36-45,02-10-2023,Electronics,Yes,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai,14.55
12,13.0,1012,Female,26-35,14-11-2023,Clothing,Yes,""" Diwali """,1200,4000,2800,UPI,Bangalore,30.00
13,14.0,1013,Male,18-25,25-12-2023,Toys,Yes,Christmas,400,1500,1100,Cash,Chennai,26.67
14,NaN,1014,Female,46-55,05-01-2023,Home Decor,No,NaN,0,3500,3500,Debit Card,Pune,0.00

### 33. Convert Product Category to uppercase.

In [342]:
df['Product Category'] = df['Product Category'].str.upper()
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Discount Percentage
0,1.0,1001,Male,26-35,15-01-2023,ELECTRONICS,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
1,2.0,1002,Female,18-25,10-02-2023,CLOTHING,Yes,Summer Sale,600,3000,2400,UPI,Pune,20.00
2,3.0,1003,Male,36-45,05-03-2023,HOME DECOR,No,NaN,0,4500,4500,Debit Card,Delhi,0.00
3,4.0,1004,Female,26-35,20-01-2023,ELECTRONICS,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai,8.00
4,5.0,1005,Male,18-25,12-04-2023,BOOKS,No,NaN,0,800,800,Cash,Bangalore,0.00
5,6.0,1006,Female,46-55,30-05-2023,ELECTRONICS,Yes,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai,25.00
6,7.0,1007,Male,26-35,15-06-2023,CLOTHING,Yes,Flat 50,300,2000,1700,UPI,Chennai,15.00
7,8.0,1008,Female,26-35,08-07-2023,BEAUTY,No,NaN,0,1500,1500,Credit Card,Mumbai,0.00
8,9.0,1009,Male,55+,22-08-2023,ELECTRONICS,Yes,Freedom Sale,5000,60000,55000,Net Banking,Delhi,8.33
9,10.0,1001,Male,26-35,15-01-2023,ELECTRONICS,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
10,11.0,1010,Female,18-25,10-09-2023,GROCERIES,No,NaN,0,1200,1200,Cash,Pune,0.00
11,12.0,1011,Male,36-45,02-10-2023,ELECTRONICS,Yes,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai,14.55
12,13.0,1012,Female,26-35,14-11-2023,CLOTHING,Yes,""" Diwali """,1200,4000,2800,UPI,Bangalore,30.00
13,14.0,1013,Male,18-25,25-12-2023,TOYS,Yes,Christmas,400,1500,1100,Cash,Chennai,26.67
14,NaN,1014,Female,46-55,05-01-2023,HOME DECOR,No,NaN,0,3500,3500,Debit Card,Pune,0.00

### 34. Remove leading/trailing spaces from Discount Name.

In [343]:
df['Discount Name'] = df['Discount Name'].str.strip()
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Discount Percentage
0,1.0,1001,Male,26-35,15-01-2023,ELECTRONICS,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
1,2.0,1002,Female,18-25,10-02-2023,CLOTHING,Yes,Summer Sale,600,3000,2400,UPI,Pune,20.00
2,3.0,1003,Male,36-45,05-03-2023,HOME DECOR,No,NaN,0,4500,4500,Debit Card,Delhi,0.00
3,4.0,1004,Female,26-35,20-01-2023,ELECTRONICS,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai,8.00
4,5.0,1005,Male,18-25,12-04-2023,BOOKS,No,NaN,0,800,800,Cash,Bangalore,0.00
5,6.0,1006,Female,46-55,30-05-2023,ELECTRONICS,Yes,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai,25.00
6,7.0,1007,Male,26-35,15-06-2023,CLOTHING,Yes,Flat 50,300,2000,1700,UPI,Chennai,15.00
7,8.0,1008,Female,26-35,08-07-2023,BEAUTY,No,NaN,0,1500,1500,Credit Card,Mumbai,0.00
8,9.0,1009,Male,55+,22-08-2023,ELECTRONICS,Yes,Freedom Sale,5000,60000,55000,Net Banking,Delhi,8.33
9,10.0,1001,Male,26-35,15-01-2023,ELECTRONICS,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
10,11.0,1010,Female,18-25,10-09-2023,GROCERIES,No,NaN,0,1200,1200,Cash,Pune,0.00
11,12.0,1011,Male,36-45,02-10-2023,ELECTRONICS,Yes,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai,14.55
12,13.0,1012,Female,26-35,14-11-2023,CLOTHING,Yes,""" Diwali """,1200,4000,2800,UPI,Bangalore,30.00
13,14.0,1013,Male,18-25,25-12-2023,TOYS,Yes,Christmas,400,1500,1100,Cash,Chennai,26.67
14,NaN,1014,Female,46-55,05-01-2023,HOME DECOR,No,NaN,0,3500,3500,Debit Card,Pune,0.00

### 35. Replace missing Discount Name with 'No Discount'.

In [344]:
df['Discount Name'] = df['Discount Name'].fillna('No Discount')
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Discount Percentage
0,1.0,1001,Male,26-35,15-01-2023,ELECTRONICS,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
1,2.0,1002,Female,18-25,10-02-2023,CLOTHING,Yes,Summer Sale,600,3000,2400,UPI,Pune,20.00
2,3.0,1003,Male,36-45,05-03-2023,HOME DECOR,No,No Discount,0,4500,4500,Debit Card,Delhi,0.00
3,4.0,1004,Female,26-35,20-01-2023,ELECTRONICS,Yes,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai,8.00
4,5.0,1005,Male,18-25,12-04-2023,BOOKS,No,No Discount,0,800,800,Cash,Bangalore,0.00
5,6.0,1006,Female,46-55,30-05-2023,ELECTRONICS,Yes,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai,25.00
6,7.0,1007,Male,26-35,15-06-2023,CLOTHING,Yes,Flat 50,300,2000,1700,UPI,Chennai,15.00
7,8.0,1008,Female,26-35,08-07-2023,BEAUTY,No,No Discount,0,1500,1500,Credit Card,Mumbai,0.00
8,9.0,1009,Male,55+,22-08-2023,ELECTRONICS,Yes,Freedom Sale,5000,60000,55000,Net Banking,Delhi,8.33
9,10.0,1001,Male,26-35,15-01-2023,ELECTRONICS,Yes,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
10,11.0,1010,Female,18-25,10-09-2023,GROCERIES,No,No Discount,0,1200,1200,Cash,Pune,0.00
11,12.0,1011,Male,36-45,02-10-2023,ELECTRONICS,Yes,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai,14.55
12,13.0,1012,Female,26-35,14-11-2023,CLOTHING,Yes,""" Diwali """,1200,4000,2800,UPI,Bangalore,30.00
13,14.0,1013,Male,18-25,25-12-2023,TOYS,Yes,Christmas,400,1500,1100,Cash,Chennai,26.67
14,NaN,1014,Female,46-55,05-01-2023,HOME DECOR,No,No Discount,0,3500,3500,Debit Card,Pune,0.00

### 36. Drop the Discount Availed column.

In [345]:
df.drop('Discount Availed', axis=1, inplace=True)
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Discount Percentage
0,1.0,1001,Male,26-35,15-01-2023,ELECTRONICS,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
1,2.0,1002,Female,18-25,10-02-2023,CLOTHING,Summer Sale,600,3000,2400,UPI,Pune,20.00
2,3.0,1003,Male,36-45,05-03-2023,HOME DECOR,No Discount,0,4500,4500,Debit Card,Delhi,0.00
3,4.0,1004,Female,26-35,20-01-2023,ELECTRONICS,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai,8.00
4,5.0,1005,Male,18-25,12-04-2023,BOOKS,No Discount,0,800,800,Cash,Bangalore,0.00
5,6.0,1006,Female,46-55,30-05-2023,ELECTRONICS,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai,25.00
6,7.0,1007,Male,26-35,15-06-2023,CLOTHING,Flat 50,300,2000,1700,UPI,Chennai,15.00
7,8.0,1008,Female,26-35,08-07-2023,BEAUTY,No Discount,0,1500,1500,Credit Card,Mumbai,0.00
8,9.0,1009,Male,55+,22-08-2023,ELECTRONICS,Freedom Sale,5000,60000,55000,Net Banking,Delhi,8.33
9,10.0,1001,Male,26-35,15-01-2023,ELECTRONICS,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
10,11.0,1010,Female,18-25,10-09-2023,GROCERIES,No Discount,0,1200,1200,Cash,Pune,0.00
11,12.0,1011,Male,36-45,02-10-2023,ELECTRONICS,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai,14.55
12,13.0,1012,Female,26-35,14-11-2023,CLOTHING,""" Diwali """,1200,4000,2800,UPI,Bangalore,30.00
13,14.0,1013,Male,18-25,25-12-2023,TOYS,Christmas,400,1500,1100,Cash,Chennai,26.67
14,NaN,1014,Female,46-55,05-01-2023,HOME DECOR,No Discount,0,3500,3500,Debit Card,Pune,0.00

### 37. Rename Purchase Method column to PaymentMethod.

In [346]:
df.rename(columns={'Purchase Method': 'PaymentMethod'}, inplace=True)
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,PaymentMethod,Location,Discount Percentage
0,1.0,1001,Male,26-35,15-01-2023,ELECTRONICS,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
1,2.0,1002,Female,18-25,10-02-2023,CLOTHING,Summer Sale,600,3000,2400,UPI,Pune,20.00
2,3.0,1003,Male,36-45,05-03-2023,HOME DECOR,No Discount,0,4500,4500,Debit Card,Delhi,0.00
3,4.0,1004,Female,26-35,20-01-2023,ELECTRONICS,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai,8.00
4,5.0,1005,Male,18-25,12-04-2023,BOOKS,No Discount,0,800,800,Cash,Bangalore,0.00
5,6.0,1006,Female,46-55,30-05-2023,ELECTRONICS,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai,25.00
6,7.0,1007,Male,26-35,15-06-2023,CLOTHING,Flat 50,300,2000,1700,UPI,Chennai,15.00
7,8.0,1008,Female,26-35,08-07-2023,BEAUTY,No Discount,0,1500,1500,Credit Card,Mumbai,0.00
8,9.0,1009,Male,55+,22-08-2023,ELECTRONICS,Freedom Sale,5000,60000,55000,Net Banking,Delhi,8.33
9,10.0,1001,Male,26-35,15-01-2023,ELECTRONICS,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
10,11.0,1010,Female,18-25,10-09-2023,GROCERIES,No Discount,0,1200,1200,Cash,Pune,0.00
11,12.0,1011,Male,36-45,02-10-2023,ELECTRONICS,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai,14.55
12,13.0,1012,Female,26-35,14-11-2023,CLOTHING,""" Diwali """,1200,4000,2800,UPI,Bangalore,30.00
13,14.0,1013,Male,18-25,25-12-2023,TOYS,Christmas,400,1500,1100,Cash,Chennai,26.67
14,NaN,1014,Female,46-55,05-01-2023,HOME DECOR,No Discount,0,3500,3500,Debit Card,Pune,0.00

### 38. Reorder columns so CID and TID come first.

In [347]:
cols = ['CID', 'TID'] + [col for col in df.columns if col not in ['CID', 'TID']]
df = df[cols]
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,PaymentMethod,Location,Discount Percentage
0,1.0,1001,Male,26-35,15-01-2023,ELECTRONICS,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
1,2.0,1002,Female,18-25,10-02-2023,CLOTHING,Summer Sale,600,3000,2400,UPI,Pune,20.00
2,3.0,1003,Male,36-45,05-03-2023,HOME DECOR,No Discount,0,4500,4500,Debit Card,Delhi,0.00
3,4.0,1004,Female,26-35,20-01-2023,ELECTRONICS,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai,8.00
4,5.0,1005,Male,18-25,12-04-2023,BOOKS,No Discount,0,800,800,Cash,Bangalore,0.00
5,6.0,1006,Female,46-55,30-05-2023,ELECTRONICS,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai,25.00
6,7.0,1007,Male,26-35,15-06-2023,CLOTHING,Flat 50,300,2000,1700,UPI,Chennai,15.00
7,8.0,1008,Female,26-35,08-07-2023,BEAUTY,No Discount,0,1500,1500,Credit Card,Mumbai,0.00
8,9.0,1009,Male,55+,22-08-2023,ELECTRONICS,Freedom Sale,5000,60000,55000,Net Banking,Delhi,8.33
9,10.0,1001,Male,26-35,15-01-2023,ELECTRONICS,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
10,11.0,1010,Female,18-25,10-09-2023,GROCERIES,No Discount,0,1200,1200,Cash,Pune,0.00
11,12.0,1011,Male,36-45,02-10-2023,ELECTRONICS,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai,14.55
12,13.0,1012,Female,26-35,14-11-2023,CLOTHING,""" Diwali """,1200,4000,2800,UPI,Bangalore,30.00
13,14.0,1013,Male,18-25,25-12-2023,TOYS,Christmas,400,1500,1100,Cash,Chennai,26.67
14,NaN,1014,Female,46-55,05-01-2023,HOME DECOR,No Discount,0,3500,3500,Debit Card,Pune,0.00

### 39. Check if TID column has duplicates.

In [348]:
df['TID'].is_unique

False

### 40. Drop duplicate rows based on TID.

In [349]:
df.drop_duplicates(subset=['TID'], keep='first', inplace=True)
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,PaymentMethod,Location,Discount Percentage
0,1.0,1001,Male,26-35,15-01-2023,ELECTRONICS,""" Welcome50 """,1000,12000,11000,Credit Card,Mumbai,8.33
1,2.0,1002,Female,18-25,10-02-2023,CLOTHING,Summer Sale,600,3000,2400,UPI,Pune,20.00
2,3.0,1003,Male,36-45,05-03-2023,HOME DECOR,No Discount,0,4500,4500,Debit Card,Delhi,0.00
3,4.0,1004,Female,26-35,20-01-2023,ELECTRONICS,Diwali Dhamaka,2000,25000,23000,Credit Card,Mumbai,8.00
4,5.0,1005,Male,18-25,12-04-2023,BOOKS,No Discount,0,800,800,Cash,Bangalore,0.00
5,6.0,1006,Female,46-55,30-05-2023,ELECTRONICS,""" Monsoon """,1500,6000,4500,Credit Card,Mumbai,25.00
6,7.0,1007,Male,26-35,15-06-2023,CLOTHING,Flat 50,300,2000,1700,UPI,Chennai,15.00
7,8.0,1008,Female,26-35,08-07-2023,BEAUTY,No Discount,0,1500,1500,Credit Card,Mumbai,0.00
8,9.0,1009,Male,55+,22-08-2023,ELECTRONICS,Freedom Sale,5000,60000,55000,Net Banking,Delhi,8.33
10,11.0,1010,Female,18-25,10-09-2023,GROCERIES,No Discount,0,1200,1200,Cash,Pune,0.00
11,12.0,1011,Male,36-45,02-10-2023,ELECTRONICS,Gandhi Jayanti,800,5500,4700,Credit Card,Mumbai,14.55
12,13.0,1012,Female,26-35,14-11-2023,CLOTHING,""" Diwali """,1200,4000,2800,UPI,Bangalore,30.00
13,14.0,1013,Male,18-25,25-12-2023,TOYS,Christmas,400,1500,1100,Cash,Chennai,26.67
14,NaN,1014,Female,46-55,05-01-2023,HOME DECOR,No Discount,0,3500,3500,Debit Card,Pune,0.00

### 41. Convert Purchase Date to datetime format.

In [350]:
df['Purchase Date'] = pd.to_datetime(df['Purchase Date'])
df.dtypes

C:\Users\Vader\AppData\Local\Temp\ipykernel_13340\1489001083.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Purchase Date'] = pd.to_datetime(df['Purchase Date'])

CID                             float64
TID                               int64
Gender                           object
Age Group                        object
Purchase Date            datetime64[ns]
Product Category                 object
Discount Name                    object
Discount Amount (INR)             int64
Gross Amount                      int64
Net Amount                        int64
PaymentMethod                    object
Location                         object
Discount Percentage             float64
dtype: object

### 42. Convert CID to integer type (handle missing values first).

In [351]:
df['CID'] = df['CID'].fillna(0)

df['CID'] = df['CID'].astype(int)
df.dtypes

CID                               int32
TID                               int64
Gender                           object
Age Group                        object
Purchase Date            datetime64[ns]
Product Category                 object
Discount Name                    object
Discount Amount (INR)             int64
Gross Amount                      int64
Net Amount                        int64
PaymentMethod                    object
Location                         object
Discount Percentage             float64
dtype: object

### 43. Convert Discount Amount (INR) to float type.

In [352]:
df['Discount Amount (INR)'] = df['Discount Amount (INR)'].astype(float)
df.dtypes
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,PaymentMethod,Location,Discount Percentage
0,1,1001,Male,26-35,2023-01-15,ELECTRONICS,""" Welcome50 """,1000.0,12000,11000,Credit Card,Mumbai,8.33
1,2,1002,Female,18-25,2023-02-10,CLOTHING,Summer Sale,600.0,3000,2400,UPI,Pune,20.00
2,3,1003,Male,36-45,2023-03-05,HOME DECOR,No Discount,0.0,4500,4500,Debit Card,Delhi,0.00
3,4,1004,Female,26-35,2023-01-20,ELECTRONICS,Diwali Dhamaka,2000.0,25000,23000,Credit Card,Mumbai,8.00
4,5,1005,Male,18-25,2023-04-12,BOOKS,No Discount,0.0,800,800,Cash,Bangalore,0.00
5,6,1006,Female,46-55,2023-05-30,ELECTRONICS,""" Monsoon """,1500.0,6000,4500,Credit Card,Mumbai,25.00
6,7,1007,Male,26-35,2023-06-15,CLOTHING,Flat 50,300.0,2000,1700,UPI,Chennai,15.00
7,8,1008,Female,26-35,2023-07-08,BEAUTY,No Discount,0.0,1500,1500,Credit Card,Mumbai,0.00
8,9,1009,Male,55+,2023-08-22,ELECTRONICS,Freedom Sale,5000.0,60000,55000,Net Banking,Delhi,8.33
10,11,1010,Female,18-25,2023-09-10,GROCERIES,No Discount,0.0,1200,1200,Cash,Pune,0.00
11,12,1011,Male,36-45,2023-10-02,ELECTRONICS,Gandhi Jayanti,800.0,5500,4700,Credit Card,Mumbai,14.55
12,13,1012,Female,26-35,2023-11-14,CLOTHING,""" Diwali """,1200.0,4000,2800,UPI,Bangalore,30.00
13,14,1013,Male,18-25,2023-12-25,TOYS,Christmas,400.0,1500,1100,Cash,Chennai,26.67
14,0,1014,Female,46-55,2023-01-05,HOME DECOR,No Discount,0.0,3500,3500,Debit Card,Pune,0.00

### 44. Convert Gross Amount and Net Amount to float type.

In [353]:
df[['Gross Amount','Net Amount']] = df[['Gross Amount','Net Amount']].astype(float)
df.dtypes
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,PaymentMethod,Location,Discount Percentage
0,1,1001,Male,26-35,2023-01-15,ELECTRONICS,""" Welcome50 """,1000.0,12000.0,11000.0,Credit Card,Mumbai,8.33
1,2,1002,Female,18-25,2023-02-10,CLOTHING,Summer Sale,600.0,3000.0,2400.0,UPI,Pune,20.00
2,3,1003,Male,36-45,2023-03-05,HOME DECOR,No Discount,0.0,4500.0,4500.0,Debit Card,Delhi,0.00
3,4,1004,Female,26-35,2023-01-20,ELECTRONICS,Diwali Dhamaka,2000.0,25000.0,23000.0,Credit Card,Mumbai,8.00
4,5,1005,Male,18-25,2023-04-12,BOOKS,No Discount,0.0,800.0,800.0,Cash,Bangalore,0.00
5,6,1006,Female,46-55,2023-05-30,ELECTRONICS,""" Monsoon """,1500.0,6000.0,4500.0,Credit Card,Mumbai,25.00
6,7,1007,Male,26-35,2023-06-15,CLOTHING,Flat 50,300.0,2000.0,1700.0,UPI,Chennai,15.00
7,8,1008,Female,26-35,2023-07-08,BEAUTY,No Discount,0.0,1500.0,1500.0,Credit Card,Mumbai,0.00
8,9,1009,Male,55+,2023-08-22,ELECTRONICS,Freedom Sale,5000.0,60000.0,55000.0,Net Banking,Delhi,8.33
10,11,1010,Female,18-25,2023-09-10,GROCERIES,No Discount,0.0,1200.0,1200.0,Cash,Pune,0.00
11,12,1011,Male,36-45,2023-10-02,ELECTRONICS,Gandhi Jayanti,800.0,5500.0,4700.0,Credit Card,Mumbai,14.55
12,13,1012,Female,26-35,2023-11-14,CLOTHING,""" Diwali """,1200.0,4000.0,2800.0,UPI,Bangalore,30.00
13,14,1013,Male,18-25,2023-12-25,TOYS,Christmas,400.0,1500.0,1100.0,Cash,Chennai,26.67
14,0,1014,Female,46-55,2023-01-05,HOME DECOR,No Discount,0.0,3500.0,3500.0,Debit Card,Pune,0.00

In [354]:
print("Memory Before (bytes):")
print(df[['Gender', 'Location']].memory_usage(deep=True))

Memory Before (bytes):
Index       112
Gender      868
Location    882
dtype: int64

### 45. Convert Gender column to category type.

In [355]:
df['Gender'] = df['Gender'].astype('category')
df.dtypes

CID                               int32
TID                               int64
Gender                         category
Age Group                        object
Purchase Date            datetime64[ns]
Product Category                 object
Discount Name                    object
Discount Amount (INR)           float64
Gross Amount                    float64
Net Amount                      float64
PaymentMethod                    object
Location                         object
Discount Percentage             float64
dtype: object

### 46. Convert Location column to category type.

In [356]:
df['Location'] = df['Location'].astype('category')
df.dtypes

CID                               int32
TID                               int64
Gender                         category
Age Group                        object
Purchase Date            datetime64[ns]
Product Category                 object
Discount Name                    object
Discount Amount (INR)           float64
Gross Amount                    float64
Net Amount                      float64
PaymentMethod                    object
Location                       category
Discount Percentage             float64
dtype: object

### 47. Check memory usage before and after converting categorical columns.

In [357]:
print("\nMemory After (bytes):")
print(df[['Gender', 'Location']].memory_usage(deep=True))

Memory After (bytes):
Index       112
Gender      246
Location    502
dtype: int64

### 48. Extract the year from Purchase Date into a new column.

In [358]:
df['Purchase Year'] = df['Purchase Date'].dt.year
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,PaymentMethod,Location,Discount Percentage,Purchase Year
0,1,1001,Male,26-35,2023-01-15,ELECTRONICS,""" Welcome50 """,1000.0,12000.0,11000.0,Credit Card,Mumbai,8.33,2023
1,2,1002,Female,18-25,2023-02-10,CLOTHING,Summer Sale,600.0,3000.0,2400.0,UPI,Pune,20.00,2023
2,3,1003,Male,36-45,2023-03-05,HOME DECOR,No Discount,0.0,4500.0,4500.0,Debit Card,Delhi,0.00,2023
3,4,1004,Female,26-35,2023-01-20,ELECTRONICS,Diwali Dhamaka,2000.0,25000.0,23000.0,Credit Card,Mumbai,8.00,2023
4,5,1005,Male,18-25,2023-04-12,BOOKS,No Discount,0.0,800.0,800.0,Cash,Bangalore,0.00,2023
5,6,1006,Female,46-55,2023-05-30,ELECTRONICS,""" Monsoon """,1500.0,6000.0,4500.0,Credit Card,Mumbai,25.00,2023
6,7,1007,Male,26-35,2023-06-15,CLOTHING,Flat 50,300.0,2000.0,1700.0,UPI,Chennai,15.00,2023
7,8,1008,Female,26-35,2023-07-08,BEAUTY,No Discount,0.0,1500.0,1500.0,Credit Card,Mumbai,0.00,2023
8,9,1009,Male,55+,2023-08-22,ELECTRONICS,Freedom Sale,5000.0,60000.0,55000.0,Net Banking,Delhi,8.33,2023
10,11,1010,Female,18-25,2023-09-10,GROCERIES,No Discount,0.0,1200.0,1200.0,Cash,Pune,0.00,2023
11,12,1011,Male,36-45,2023-10-02,ELECTRONICS,Gandhi Jayanti,800.0,5500.0,4700.0,Credit Card,Mumbai,14.55,2023
12,13,1012,Female,26-35,2023-11-14,CLOTHING,""" Diwali """,1200.0,4000.0,2800.0,UPI,Bangalore,30.00,2023
13,14,1013,Male,18-25,2023-12-25,TOYS,Christmas,400.0,1500.0,1100.0,Cash,Chennai,26.67,2023
14,0,1014,Female,46-55,2023-01-05,HOME DECOR,No Discount,0.0,3500.0,3500.0,Debit Card,Pune,0.00,2023

### 49. Extract the month from Purchase Date into a new column.

In [359]:
df['Purchase month'] = df['Purchase Date'].dt.month
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,PaymentMethod,Location,Discount Percentage,Purchase Year,Purchase month
0,1,1001,Male,26-35,2023-01-15,ELECTRONICS,""" Welcome50 """,1000.0,12000.0,11000.0,Credit Card,Mumbai,8.33,2023,1
1,2,1002,Female,18-25,2023-02-10,CLOTHING,Summer Sale,600.0,3000.0,2400.0,UPI,Pune,20.00,2023,2
2,3,1003,Male,36-45,2023-03-05,HOME DECOR,No Discount,0.0,4500.0,4500.0,Debit Card,Delhi,0.00,2023,3
3,4,1004,Female,26-35,2023-01-20,ELECTRONICS,Diwali Dhamaka,2000.0,25000.0,23000.0,Credit Card,Mumbai,8.00,2023,1
4,5,1005,Male,18-25,2023-04-12,BOOKS,No Discount,0.0,800.0,800.0,Cash,Bangalore,0.00,2023,4
5,6,1006,Female,46-55,2023-05-30,ELECTRONICS,""" Monsoon """,1500.0,6000.0,4500.0,Credit Card,Mumbai,25.00,2023,5
6,7,1007,Male,26-35,2023-06-15,CLOTHING,Flat 50,300.0,2000.0,1700.0,UPI,Chennai,15.00,2023,6
7,8,1008,Female,26-35,2023-07-08,BEAUTY,No Discount,0.0,1500.0,1500.0,Credit Card,Mumbai,0.00,2023,7
8,9,1009,Male,55+,2023-08-22,ELECTRONICS,Freedom Sale,5000.0,60000.0,55000.0,Net Banking,Delhi,8.33,2023,8
10,11,1010,Female,18-25,2023-09-10,GROCERIES,No Discount,0.0,1200.0,1200.0,Cash,Pune,0.00,2023,9
11,12,1011,Male,36-45,2023-10-02,ELECTRONICS,Gandhi Jayanti,800.0,5500.0,4700.0,Credit Card,Mumbai,14.55,2023,10
12,13,1012,Female,26-35,2023-11-14,CLOTHING,""" Diwali """,1200.0,4000.0,2800.0,UPI,Bangalore,30.00,2023,11
13,14,1013,Male,18-25,2023-12-25,TOYS,Christmas,400.0,1500.0,1100.0,Cash,Chennai,26.67,2023,12
14,0,1014,Female,46-55,2023-01-05,HOME DECOR,No Discount,0.0,3500.0,3500.0,Debit Card,Pune,0.00,2023,1

### 50. Extract the day name from Purchase Date into a new column.

In [360]:
df['Day Name'] = df['Purchase Date'].dt.day_name()
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,PaymentMethod,Location,Discount Percentage,Purchase Year,Purchase month,Day Name
0,1,1001,Male,26-35,2023-01-15,ELECTRONICS,""" Welcome50 """,1000.0,12000.0,11000.0,Credit Card,Mumbai,8.33,2023,1,Sunday
1,2,1002,Female,18-25,2023-02-10,CLOTHING,Summer Sale,600.0,3000.0,2400.0,UPI,Pune,20.00,2023,2,Friday
2,3,1003,Male,36-45,2023-03-05,HOME DECOR,No Discount,0.0,4500.0,4500.0,Debit Card,Delhi,0.00,2023,3,Sunday
3,4,1004,Female,26-35,2023-01-20,ELECTRONICS,Diwali Dhamaka,2000.0,25000.0,23000.0,Credit Card,Mumbai,8.00,2023,1,Friday
4,5,1005,Male,18-25,2023-04-12,BOOKS,No Discount,0.0,800.0,800.0,Cash,Bangalore,0.00,2023,4,Wednesday
5,6,1006,Female,46-55,2023-05-30,ELECTRONICS,""" Monsoon """,1500.0,6000.0,4500.0,Credit Card,Mumbai,25.00,2023,5,Tuesday
6,7,1007,Male,26-35,2023-06-15,CLOTHING,Flat 50,300.0,2000.0,1700.0,UPI,Chennai,15.00,2023,6,Thursday
7,8,1008,Female,26-35,2023-07-08,BEAUTY,No Discount,0.0,1500.0,1500.0,Credit Card,Mumbai,0.00,2023,7,Saturday
8,9,1009,Male,55+,2023-08-22,ELECTRONICS,Freedom Sale,5000.0,60000.0,55000.0,Net Banking,Delhi,8.33,2023,8,Tuesday
10,11,1010,Female,18-25,2023-09-10,GROCERIES,No Discount,0.0,1200.0,1200.0,Cash,Pune,0.00,2023,9,Sunday
11,12,1011,Male,36-45,2023-10-02,ELECTRONICS,Gandhi Jayanti,800.0,5500.0,4700.0,Credit Card,Mumbai,14.55,2023,10,Monday
12,13,1012,Female,26-35,2023-11-14,CLOTHING,""" Diwali """,1200.0,4000.0,2800.0,UPI,Bangalore,30.00,2023,11,Tuesday
13,14,1013,Male,18-25,2023-12-25,TOYS,Christmas,400.0,1500.0,1100.0,Cash,Chennai,26.67,2023,12,Monday
14,0,1014,Female,46-55,2023-01-05,HOME DECOR,No Discount,0.0,3500.0,3500.0,Debit Card,Pune,0.00,2023,1,Thursday