### 1. Print numbers from 1 to 10 using a for loop

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [5]:
for i in range(0,21,2):
    if i==0:
        pass
    if i>=2:
        print(i)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [6]:
st = "Python"
for i in st:
    print(i)

P
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [8]:
l = []
for i in range(1,6):
    l.append(i*i)
l

[1, 4, 9, 16, 25]

### 5. Print all elements of a list using a for loop

In [9]:
l = [10,20,30,40,50]
for i in l:
    print(i)

10
20
30
40
50

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [10]:
s = 0
for i in range(50):
    s += i
s

1225

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [12]:
for i in range(10,0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [14]:
for i in range(7,7*11,7):
    print(i)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [16]:
st = "education"
v = 0
for i in st:
    if i in 'aeiouAEIOU':
        v += 1
print("Vowels: ",v)

Vowels:  5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [18]:
for i in range(1,30,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [19]:
st = "My name is ChatGPT"
u =0
for i in st:
    if i.isupper():
        u += 1
u

5

### 12. Create a new list that contains only the positive numbers from another list

In [21]:
l_new =[]
l = [1,65,64,1,66,6,6,6,"hello",-5,-5,-5,-5,-5,5,-5,-5,-5,"jsdfjkdsbk","Prathamesh",{}]
for i in l:
    if isinstance(i,int) and i>0:
        l_new.append(i)
l_new

[1, 65, 64, 1, 66, 6, 6, 6, 5]

### 13. Print numbers from 1 to 10 using a while loop

In [22]:
i = 1
while i<=10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [ ]:
i =5
while i<=50:
    print(i)
    i +=5

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [24]:
i = 10
while i>=1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [27]:
i = 10
while i>0:
    i = int(input("Enter value: "))

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [28]:
i = 1
s = 0
while i<=10:
    s += i
    i += 1
s

55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [30]:
d = {"Apple":100, "Banana":40, "Mango":70}
for i in d:
    print(f"{i}")

Apple
Banana
Mango

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [31]:
d = {"Apple":100, "Banana":40, "Mango":70}
for i in d:
    print(f"{d[i]}")

100
40
70

### 20. Print both keys and values of a dictionary using a for loop

In [36]:
d = {"Apple":100, "Banana":40, "Mango":70}
for i in d:
    print(f"{i} : {d[i]}")

Apple : 100
Banana : 40
Mango : 70

### 21. Count how many keys are in a dictionary using a for loop

In [37]:
d = {"Keyboard": 552, "Laptop": "Lenovo", "Mouse": "Logitech"}
k = 0
for i in d:
    k += 1
k

3

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [38]:
d = {"Keyboard": 552, "Laptop": "Lenovo", "Mouse": "Logitech", "apple":123}
for i in d.keys():
    if i.startswith('a'):
        print(i)

apple

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [40]:
d = {"student1":{"name":"John", "marks":85}, "student2":{"name":"Alice", "marks":92}, "student3":{"name":"Bob", "marks":78}}
for i in d:
    st_data = d[i]
    st_marks = st_data["marks"]
    if st_marks>=80:
        print(i)

student1
student2

### 24. Given a dictionary, print the sum of all the values using a for loop

In [42]:
d = {"Keyboard": 552, "Laptop": "Lenovo", "Mouse": "Logitech", "apple":123}
s = 0
for i in d.values():
    if isinstance(i, int):
        s += i 
s

675

### 25. Given a dictionary, find the key with the highest value using a for loop

In [44]:
d = {"Keyboard": 552, "Laptop": "Lenovo", "Mouse": "Logitech", "apple":123,"Banana":435435}
highest_value = 0
for i in d.values():
    if isinstance(i,int):
        if i>highest_value:
            highest_value=i
highest_value

435435

### 26. Convert all dictionary keys into a list using a for loop

In [1]:
d = {"Keyboard": 552, "Laptop": "Lenovo", "Mouse": "Logitech", "apple":123,"Banana":435435}
l = []
for i in d.keys():
    l.append(i)
l

['Keyboard', 'Laptop', 'Mouse', 'apple', 'Banana']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [2]:
d = {"Keyboard": 8, "Laptop": 6, "Mouse": 5, "apple": 5,"Banana":6}
for i in d:
    print(f"{i} : {d[i]}")

Keyboard : 8
Laptop : 6
Mouse : 5
apple : 5
Banana : 6

### 28. Given a list of numbers, print only numbers greater than 10

In [3]:
l = [5,19,1,1,65,16,16,51,651,65,165,15,156,121,321,321,1,321,31,1,1,1,1,6,6,6,5]
for i in l:
    if i>10:
        print(i)

19
65
16
16
51
651
65
165
15
156
121
321
321
321
31

### 29. Count how many elements in a list are integers using a for loop

In [5]:
l = [1,65,64,1,66,6,6,6,"hello",-5,-5,-5,-5,-5,5,-5,-5,-5,"jsdfjkdsbk","Prathamesh",{}]
s = 0
for i in l:
    if type(i) == int:
        s += 1
s

17

### 30. Print the sum of all even numbers in a list using a for loop

In [6]:
l = [1,65,64,1,66,6,6,6,"hello",-5,-5,-5,-5,-5,5,-5,-5,-5,"jsdfjkdsbk","Prathamesh",{}]
s = 0
for i in l:
    if type(i) == int and i%2==0:
        s += i
s

148

### 31. Print the cube of each number in a list of 5 numbers

In [7]:
l = [56,89,23,4,1]
for i in l:
    print(i**3)

175616
704969
12167
64
1

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [8]:
s = "Python is fun"
w = s.split()
for i in w:
    print(i)

Python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [9]:
for i in range(3,3*4,3):
    print(i)

3
6
9

### 34. Print only names that start with 'A' from a list of names

In [11]:
l = ["Prathamesh","Aditya","Ankur","Aniket","Talha","anjum"]
for i in l:
    if i.startswith("A") or i.startswith("a"):
        print(i)

Aditya
Ankur
Aniket
anjum

### 35. Find the largest number in a list using a for loop

In [12]:
l = [6,6,6,6,6,6,54,14351,6845,16,465,684,86,58,4844]
largest_number = 0
for i in l:
    if i>largest_number:
        largest_number = i
largest_number

14351

### 36. Print the index and value of each element in a list

In [ ]:
l = [6,54,14351,6845,16,465,684,86,58,4844]
for i in l:
    print(f"{i} : {l.index(i)}")
# Works only for list with unique elements

6 : 0
54 : 1
14351 : 2
6845 : 3
16 : 4
465 : 5
684 : 6
86 : 7
58 : 8
4844 : 9

### 37. Create a dictionary with 5 students and their marks

In [ ]:
d = {"student1":{"name":"John", "marks":85}, "student2":{"name":"Alice", "marks":92}, "student3":{"name":"Bob", "marks":78},"student4":{"name":"Prathamesh","marks":99},"student5":{"name":"Sakshit","marks":56}}

### 38. Use a for loop to print all student names

In [17]:
for i in d:
    st_data = d[i]
    st_name = st_data["name"]
    print(st_name)

John
Alice
Bob
Prathamesh
Sakshit

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [18]:
d = {"Mango":456,"Banana":64,"Peach":5435}
for i in d:
    print(f"{i} : {d[i]}")

Mango : 456
Banana : 64
Peach : 5435

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [29]:
d = {"Mango":456,"Banana":64,"Peach":5435,"Rose":50,"Keyboard":1000}
for i in d:
    d[i] += d[i]/10
d

{'Mango': 501.6,
 'Banana': 70.4,
 'Peach': 5978.5,
 'Rose': 55.0,
 'Keyboard': 1100.0}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [42]:
d = {"Mango":456,"Banana":64,"Peach":5435,"Rose":50,"Keyboard":1000,"Laptop":1,"Mouse":2,"Keymapping":56,"Sand":567,"loop":5}
l = []
for i in d:
    if d[i]<50:
        l.append(i)
for j in l:
    d.pop(j)        
d

{'Mango': 456,
 'Banana': 64,
 'Peach': 5435,
 'Rose': 50,
 'Keyboard': 1000,
 'Keymapping': 56,
 'Sand': 567}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [58]:
d = {"s1":{"s_name":"Maths","marks":56},"s2":{"s_name":"Social Science","marks":99},"s3":{"s_name":"Science","marks":60}}
d["s4"] = {"s_name":"Sanskrit","marks":89}
for i in d:
    print(d[i])

{'s_name': 'Maths', 'marks': 56}
{'s_name': 'Social Science', 'marks': 99}
{'s_name': 'Science', 'marks': 60}
{'s_name': 'Sanskrit', 'marks': 89}

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [ ]:
d = {"p1":{"name":"Prathamesh","age":23},"p2":{"name":"Sakshit","age":22},"p3":{"name":"Aniket","age":56}}
for i in d:
    p_data = d[i]
    p_data["age"] += 1
d

{'p1': {'name': 'Prathamesh', 'age': 24},
 'p2': {'name': 'Sakshit', 'age': 23},
 'p3': {'name': 'Aniket', 'age': 57}}

### 44. Print numbers from 0 to 9 using range()

In [43]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [44]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [46]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [47]:
l = [59,59,59,59,5,95,6,6,1,5,11,46,5]
len(l)

13

### 48. Print the length of a given string using len()

In [48]:
s = " hdsbfksbdk jkfhs kfks fkjsdbfkjs fskjbskj bfkjsbfkj skj "
len(s)

57

### 49. Use range() and len() to iterate over a list by index and print each element

In [51]:
l = ["hbdjkbd",65,465,465,456,53,1,354,43,515,135,13,5435,3,5453,543535,35]
for i in range(len(l)):
    print(l[i])

hbdjkbd
65
465
465
456
53
1
354
43
515
135
13
5435
3
5453
543535
35

### 50. Print the sum of numbers from 1 to 100 using range()

In [52]:
s = 0
for i in range(1,101):
    s += i
s

5050